<h1>Select Your Story to Play!</h1>
<p>Select a story of your choice from the list below to beging playing:</p>

<% @stories.each do |story| %>

	<ul>
		<li><%= link_to "#{story.title}", controller: "welcome",  action: "userinput", title: "#{story.title}"  %></li>
	</ul>
<% end %>


